<header [hidden]="isHidden">
  <a routerLink="/" class="heading">
    <img class="logo" src="assets/walt_icon_white.png">
    <div class="slogan">
      <h1>Walt</h1>
      <h4>Your Interview Trainer</h4>
    </div>
  </a>

  <nav>
    <a routerLink="/">Home</a>

    <a (click)="logOut()">
      Sign Out
    </a>
  </nav>
</header>
