<div class="result">
  <h3>
    Interview Result
  </h3>

  <app-navigation [interview_id]="interview_id"></app-navigation>

  <app-loading [hidden]="!loading"></app-loading>

  <ul class="result-list grid-x grid-margin-x grid-margin-y">

    <li *ngFor="let item of result" class="cell medium-6 large-4"
        [ngStyle]="{'background-color': item.color}" >

      <div (click)="goToSingleResult(item.name)" class="skill">
        <h6>{{ (item.score * 100).toFixed(0) + "%" }}</h6>
        <h3>{{item.name}}</h3>

        <h5>Empowerment</h5>
        <p>{{item.empowerment}}</p>

        <h5>Suggestions</h5>
        <div *ngFor="let link of item.links.split(','), let i=index">
          <a href={{link.trim()}} target="_blank">Source {{i+1}}: {{extractRootDomain(link)}}</a>
        </div>

      </div>
    </li>

  </ul>
</div>
