<div class="interview">
  <h3 class="heading">
    Interview {{interview_id}}
  </h3>

  <app-loading [hidden]="!loading"></app-loading>

  <ul class="messages">
    <li *ngFor="let message of messages">
      <div [ngClass]="{'answer': message.type=='A'}">
        <span>{{message.text}}</span>
      </div>
    </li>
  </ul>

  <div class="message-box" [hidden]="interview_status=='C'">
    <form>
      <div>
        <textarea name="message" [(ngModel)]="answer_box"></textarea>
      </div>
      <div>
        <button type="submit" (click)="giveAnswer()">
          send
        </button>
      </div>
    </form>
  </div>


  <app-navigation [hidden]="interview_status!='C'" [interview_id]="interview_id" [interview_status]="interview_status">
  </app-navigation>
</div>
