<div class="result-intro">
  <h1>Your Interview Result</h1>
  <h3>Congratulation on finishing your interview. Here is what we found in your answers.</h3>

  <br />

  <h3>Your top five skills</h3>

  <app-loading [hidden]="!loading"></app-loading>

  <ul class="result-list grid-x grid-margin-x grid-margin-y">

    <li *ngFor="let item of strong_skills" class="cell medium-6 large-4"
        [ngStyle]="{'background-color': item.color}">

      <div (click)="goToSingleResult(item.name)" class="skill">
        <h6>{{ (item.score * 100).toFixed(0) + "%" }}</h6>
        <h3>{{item.name}}</h3>

        <h5>Empowerment</h5>
        <p>{{item.empowerment}}</p>
      </div>
    </li>
  </ul>

  <button (click)="goToFullResult(interview_id)">Show all skills</button>


  <h3>Focus to improve these skills</h3>
  <h4>Click on each card to start learning about them</h4>

  <app-loading [hidden]="!loading"></app-loading>

  <ul class="result-list grid-x grid-margin-x grid-margin-y">

    <li *ngFor="let item of weak_skills" class="cell medium-6 large-4"
        [ngStyle]="{'background-color': item.color}">
      <div (click)="goToSingleResult(item.name)" class="skill">
        <h6>{{ (item.score * 100).toFixed(0) + "%" }}</h6>
        <h3>{{item.name}}</h3>

        <h5>Empowerment</h5>
        <p>{{item.empowerment}}</p>


      </div>
    </li>
  </ul>

  <button (click)="goToFullResult(interview_id)">Show all skills</button>
</div>
