<div class="interviews">
  <h3>Interviews</h3>

  <nav>
    <a (click)="onNewInterview()">New interview</a>
  </nav>

  <ul class="interview-list">
    <li *ngFor="let interview of interviews; let i = index" >

      <div class="caption" (click)="openInterview(interview.id)">
        <span class="name">Interview {{i+1}}</span>
        <span class="status">{{ interview.status == 'C' ? 'Closed' : 'Open' }}</span>
      </div>

      <a [hidden]="interview.status != 'C'" (click)="goToResult(interview.id)">
        <i class="fas fa-chart-line"></i>
      </a>

      <a (click)="deleteInterview(interview.id)">
        <i class="far fa-trash-alt"></i>
      </a>
    </li>
  </ul>
</div>
