<form class="small-box" (submit)="onLogin()">

  <figure></figure>
  <h2>Welcome to Walt</h2>
  <h5>Your personal interview trainer</h5>
  <div>
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="password">
  </div>
  <div>
    <span class="error">{{ meessage }}</span>
    <button type="submit">
      Login
    </button>
  </div>
  <div>
    <span>
      Don’t have an account?
    </span>
    <a routerLink="/signup">
      Sign Up
    </a>
  </div>
</form>
