@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.loading {
  display: block;
  overflow: hidden;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

.loading i {
  font-size: 40pt;
  color: #00ffb3;
  animation: spin 1.5s linear infinite;
}
