<form class="small-box" (submit)="onSignup()">
  <figure></figure>
  <h2>Welcome to Walt</h2>
  <h5>Create your new account</h5>
  <div>
    <span>Full Name</span>
    <input type="text" name="fullname" [(ngModel)]="fullname">
  </div>
  <div>
    <span>Career/Interest</span>
    <input type="text" name="info" [(ngModel)]="info">
  </div>
  <div>
    <span>Username</span>
    <input type="text" name="username" [(ngModel)]="username">
  </div>
  <div>
    <span>Password</span>
    <input type="password" name="password" [(ngModel)]="password">
  </div>
  <div>
    <span class="error">{{ meessage }}</span>
    <button type="submit">
      Sign Up
    </button>
  </div>
  <div>
    <span>
      Already have an account?
    </span>
    <a routerLink="/login">
      Login
    </a>
  </div>
</form>
