<nav>
  <a routerLink="/interviews">
    <i class="fas fa-arrow-left"></i>
    Back
  </a>

  <a [hidden]="interview_status != 'C'" (click)="goToResult()">
    <i class="fas fa-chart-line"></i>
    Show Results
  </a>

  <a [hidden]="router.url.indexOf('/result') == -1" (click)="openInterview(interview_id)">
    <i class="fas fa-chart-line"></i>
    Open Interview
  </a>
</nav>
