<div class="result-single">

  <div class="skill-info">
    <h3>Skill: <span>{{resources['name']}}</span></h3>

    <div class="pie-wrapper" [ngClass]="(resources['score']*100 > 50)?' progress-full':' progress-half'">
      <span class="label">
        {{ (resources['score'] * 100).toFixed(0)}}
        <span class="percent"> %</span>
        <span class="smaller">Your Score</span>
      </span>
      <div class="pie">
        <div class="left-side half-circle" [ngStyle]="getScoreStyle('left')"></div>
        <div class="right-side half-circle" [ngStyle]="getScoreStyle('right')" ></div>
      </div>
    </div>

  </div>

  <div class="skill-content">
    <app-loading [hidden]="!loading"></app-loading>

    <div *ngFor="let item of resources['content']">
      <div [innerHtml]="item.content"></div>
    </div>
  </div>

  <button (click)="goToInterviewResult()">
    Back to Interview Result
  </button>

</div>
