/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #232a34;
  padding: 0 15px;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*app-root {*/
  /*overflow: hidden;*/
  /*display: block;*/
/*}*/


/***************  Header  ************************/

header {
  overflow: hidden;
  background: #232a34;
  padding: 6px 10px 4px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

header .heading,
header .heading:hover,
header .heading:focus {
  float: left;
  padding-right: 12px;
  color: #ffffff;
  float: left;
  height: 100%;
}

header .slogan {
  float: right;
  padding-left: 10px;
}

header .slogan h1 {
  margin: 0;
  letter-spacing: 1pt;
  line-height: 6.5vh;
  font-size: 5vh;
}

header .slogan h4 {
  margin: 0;
  line-height: 3vh;
  font-size: 2vh;
}

header nav {
  display: inline-block;
  float: right;
}

header .logo {
  float: left;
  background-size: contain;
  background-position: 2px -2px;
  height: 100%;
}

/*************** Login & Signup ******************/

.small-box {
  text-align: center;
  max-width: 240px;
  margin: 40px auto;
}

.small-box > div {
  margin-bottom: 10px;
}

.small-box figure {
  width: 156px;
  height: 222px;
  background: url('assets/walt_green.png');
  margin: 0 auto 25px;
  background-size: cover;
}

.small-box h2 {
  font-size: 20pt;
  font-weight: 700;
  margin: 0 0 10px;
}

.small-box h5 {
  font-size: 12pt;
  font-weight: 400;
  margin: 0 0 20px;
}

.small-box label {
  display: block;
  text-align: left;
  font-size: 10pt;
  margin: 0 0 2px;
}

.small-box input {
  border: 0;
  width: 100%;
  padding: 8px 12px;
  font-size: 10pt;
  border-radius: 1px;
}

.small-box  button {
  margin: 10px 0;
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3c5995;
  border: 0;
  color: #fff;
  font-size: 11pt;
}

a, a:hover {
  color: #00c0bd;
  text-decoration: none;
}

.small-box span.error {
  display: block;
  color: #ff4b4b;
  font-size: 10pt;
  min-height: 10pt;
  line-height: 10pt;
}


/*************** List of interviews ******************/

.interviews {
  /*background-color: #f8f8f6;*/
  /*color: #444;*/
  max-width: 600px;
  margin: 0 auto;
}

.interview-list {
  margin: 10px 0;
  padding: 0;
}

.interview-list li {
  list-style: none;
  color: #444;
  background-color: #fff;
  margin: 0 0 4px;
  padding: 8px 12px;
  line-height: 14pt;
  font-size: 12pt;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.interview-list li:hover {
  background-color: #d1d1d1;
}

.interview-list li .caption {
  width: 70%;
  float: left;
  cursor: pointer;
}

.interview-list span {
  font-size: 10pt;
  display: block;
}

.interview-list span.status {
  font-size: 9pt;
}

.interviews .interview-list a {
  margin: 2px 10px 0 0;
  display: inline-block;
  float: right;
  padding: 4px 8px;
  font-size: 12pt;
  line-height: 12pt;
  background-color: #53acfa;
  color: #fff;
  cursor: pointer;
}
.interviews .interview-list a i {
  line-height: 18pt;
  font-size: 16pt;
}

.interviews button {
  margin: 30px auto 0;
  display: block;
  cursor: pointer;
  background-color: #53acfa;
  border: 0;
  padding: 10pt 12pt;
  border-radius: 2px;
  font-size: 12pt;
  line-height: 12pt;
  color: #fff;
  font-weight: 400;
}



.interview {
  /*background-color: #f8f8f6;*/
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}


.interview ul.messages {
  padding: 0;
  margin: 20px 0;
}

.interview .messages li {
  list-style: none;
  margin: 0 0 8px;
  overflow: hidden;
  font-size: 12pt;
}

.interview .messages li > div {
  background-color: #fff;
  display: inline-block;
  color: #444;
  border-radius: 2px;
  padding: 4px 10px;
  float: left;
  margin: 0 40px 0 0;
}

.interview .messages li > div.answer {
  float: right;
  background-color: #12e4ff;
  margin: 0 0 0 40px;
}

.interview textarea {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 68px;
  line-height: 20px;
  padding: 4px 70px 4px 10px;
}

.interview button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #00BCD4;
  border: 0;
  border-radius: 0;
  color: #fff;
  padding: 10px 11px;
  height: 100%;
  text-transform: capitalize;
}

.interview .message-box {
  overflow: hidden;
  height: 100px;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
}


.result {
  max-width: 1200px;
  margin: 0 auto;
}

.result-list {
  padding: 0;
  list-style: none;
  color: #444444;
}

.result-list li {
  padding: 0 0 0 20px;
  background-color: #00ff54;
}

.result-list li.red {
  background-color: red;
}

.result-list li .skill {
  padding: 20px 16px;
  background-color: #ffffff;
  height: 100%;
  cursor: pointer;
}

.result-list h3 {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  line-height: 20pt;
}
.result-list h5 {
  margin: 14px 0 0;
}
.result-list h6 {
  display: inline-block;
  margin: 0 0;
  padding: 0;
  font-size: 14pt;
  font-weight: 400;
  line-height: 20pt;
}
.result-list p {
  margin: 3px 0 0;
}
.result-list a {
  margin: 4px 0 0;
  display: block;
  line-height: 14pt;
  font-size: 12pt;
}


.result-intro {
  margin: 0 auto;
  max-width: 1200px;
}

.result-intro h1,
.result-intro h3,
.result-intro h4 {
  text-align: center;
}

.result-intro button,
.result-single button {
  color: #fff;
  margin: 10px auto 40px;
  border: 1px solid #fff;
  padding: 4px 10px 8px;
  font-size: 12pt;
  line-height: 16pt;
  cursor: pointer;
  display: block;
}





.result-single {
  max-width: 1200px;
  margin: 0 auto;
}

.result-single .skill-info {
  overflow: hidden;
}
.result-single .skill-info h3 {
  text-align: center;
  font-size: 22pt;
}

.result-single .skill-content {
  padding: 40px 0;
  min-height: 140px;
  position: relative;
}

.result-single h1 {
  font-size: 20pt;
}

.result-single h2 {
  font-size: 18pt;
}

.result-single h3 {
  font-size: 16pt;
}

.result-single h4 {
  font-size: 14pt;
}

.result-single h5 {
  font-size: 13pt;
}

.result-single h6 {
  font-size: 12pt;
}

/***********************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  position: relative;
  margin: 0 auto;
  font-size: 10em;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #ffffff;
  border-radius: 50%;
  bottom: 0;
  color: #585858;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0;
  line-height: 1.3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  padding: 22px 0 0;
  border: 0.4em solid #e9e9e9;
}
.pie-wrapper .label .percent {
  font-size: 0.6em;
  line-height: 1.2em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.4em;
  display: block;
  line-height: 2em;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}


.pie-wrapper.progress-half .pie .right-side {
  display: none;
}
.pie-wrapper.progress-half .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-half .pie .left-side {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
}


.pie-wrapper.progress-full .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-full .pie .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-full .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-full .pie .left-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/***********************************************************/


nav {
  margin: 10px auto;
  max-width: 1170px;
  display: block;
}

nav a {
  color: #00fffb;
  text-decoration: none;
  background-color: #353535;
  border: 1px solid #00BCD4;
  margin: 5px 10px 5px 0;
  padding: 2px 8px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 11pt;
}


/***********************  Footer  ****************************/

footer {
  padding: 20px 0 10px;
}

footer p {
  text-align: center;
  margin: 0;
  font-size: 10pt;
}


/************ Experimental Full screen interview layout ***************/
header {
  overflow: hidden;
  background: #232a34;
  padding: 6px 10px 4px;
  height: 12vh;
}

.interview {
  /* background-color: #f8f8f6; */
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  height: 82vh;
}

.interview .heading {
  margin: 0;
  line-height: 6vh;
}

.interview ul.messages {
  padding: 0 6px 0 0;
  margin: 1vh -10px 2vh 0;
  height: 62vh;
  overflow: auto;
}

.interview .message-box {
  overflow: hidden;
  height: 12vh;
  max-width: 580px;
  margin: 0 auto;
  position: relative;
}

footer {
  padding: 0;
  line-height: 6vh;
}


/************** Scrol Bar ************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #3E4148;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686B72;
  border: 1px solid #5c6561;
  border-radius: 10px;
}
